body {
  background: #d2ccc5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.Calculator {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.screen-row input {
  width: 100%;
  height: 50px;
  background-color: #6c6565;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 15px;
}

.Keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.ButtonStyle {
  background-color: #172229;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 60px;
  cursor: pointer;
  transition: background 0.2s;
}

.ButtonStyle:hover {
  background-color: #51a5e6;
}

.image-display {
  margin-top: 15px;
}

.image-display img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #333;
}
